<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable" />
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.navtable.AutoNavTableExtension" description="AutoNavTable" active="true">
			<tool-bar name="NavTable">
				<action-tool icon="auto-navtable" tooltip="Activar/Desactivar NavTable automático"
					action-command="PSVisual" position="2" name="auto-navtable"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>